$mobile-small: .7rem;
$mobile-medium: .85rem;
$mobile-big: 1.1rem;

$desktop-small: .75rem;
$desktop-medium: .85rem;
$desktop-big: 1rem;

$small-phone-size: 320px;
$phone-size: 480px;
$tablet-size: 620px;
$desktop-size: 1024px;

$dark_gray: #454545;
$gray: #646464;
$light_gray: #bebebe;
$main: black;
$secondary: white;